.main {
    /* display: flex; */
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
}

.no-todo {
    list-style: none;
    margin: 20px 0;
    display: grid;
    place-items: center;
}