header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

header * {
    margin: 3px;
}

input {
    height: 1.5rem;
}

.add-task-btn {
    height: fit-content;
    width: fit-content;
    border-radius: 8px;
    border: 2px solid;
}

@media (prefers-color-scheme: light) {
    .add-task-btn {
        border-color:#1a1a1a ;
    }
    .add-task-btn:hover {
        background-color: #afafafa3;
    }
}
@media (prefers-color-scheme: dark) {
    .add-task-btn {
        border-color:  rgba(255, 255, 255, 0.3);
    }
    .add-task-btn:hover {
        background-color: #1a1a1a;
    }
}
